[submodule "api_gateway"]
	path = api_gateway
	url = https://github.com/gruszm/API-Gateway
	branch = master
[submodule "products_service"]
	path = products_service
	url = https://github.com/gruszm/Products-Service
	branch = master
[submodule "carts_service"]
	path = carts_service
	url = https://github.com/gruszm/Carts-Service
	branch = master
[submodule "frontend_service"]
	path = frontend_service
	url = https://github.com/gruszm/Ecommerce-Frontend.git
	branch = master
[submodule "profiles_service"]
	path = profiles_service
	url = https://github.com/gruszm/Profiles-Service.git
    branch = master